<% breadcrumb :root %>

<h1 class="govuk-heading-xl">Dashboard</h1>

<% if current_user.can_request_short_urls? %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Request a new URL redirect or short URL",
    href: new_short_url_request_path
  } %>
<% end %>
<% if current_user.can_manage_short_urls? %>
  <%= render "govuk_publishing_components/components/button", {
    text: "View pending requests",
    href: short_url_requests_path
  } %>
  <%= render "govuk_publishing_components/components/button", {
    text: "View live URL redirects and short URLs",
    href: list_short_urls_path
  } %>
<% end %>
