<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @furl_request.requester.name %>,</p>

    <p>Your request for a friendly URL from <%= @furl_request.from_path %> to <%= link_to @furl_request.to_path, govuk_url_for(@furl_request.to_path) %> has been denied.</p>

    <% if @furl_request.rejection_reason.present? %>
      <p>The following reason was given:</p>
      <p><%= @furl_request.rejection_reason %></p>
    <% else %>
      <p>No reason was given.</p>
    <% end %>
  </body>
</html>
