$flash-colour: #333;
$flash-bg-colour: #ccc;
$flash-success-colour: #ffffff;
$flash-success-bg-colour: #00823B;

.flash-messages {
  list-style-type: none;
  padding: 0;

  li {
    color: $flash-colour;
    background-color: $flash-bg-colour;
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 2px;

    &.success {
      background-color: $flash-success-bg-colour;
      color: $flash-success-colour;
    }
  }
}

h1 {
  margin-bottom: 30px;
}
