<div class="alert alert-danger" id="existing-redirect-warning" role="alert">
  <strong><%= existing_redirect.from_path %> already redirects to
    <%= existing_redirect.to_path %>!</strong> Accepting this request will overwrite
  that.
</div>
