<tr class="clickable_row">
  <td><%= link_to short_url_request.organisation_title, short_url_request_path(short_url_request) %></td>
  <td><%= link_to short_url_request.from_path, short_url_request_path(short_url_request) %></td>
  <td><%= link_to short_url_request.to_path, short_url_request_path(short_url_request) %></td>
</tr>
