<% breadcrumb :short_url_request_accepted, @short_url_request %>

<h1>The redirect has been published</h1>

<dl>
  <dt>From:</dt>
  <dd><%= link_to @short_url_request.redirect.from_path, govuk_url_for(@short_url_request.redirect.from_path) %></dd>

  <dt>To:</dt>
  <dd><%= link_to @short_url_request.redirect.to_path, govuk_url_for(@short_url_request.redirect.to_path) %></dd>
</dl>

<%= link_to "Done", short_url_requests_path, class: "btn btn-default" %>
