<% breadcrumb :edit_short_url_request, @short_url_request %>

<%= content_for :page_title, 'Edit short URL' %>
  <h1 class="page-title-with-border">
    <% if @short_url_request.pending? %>
      Edit short URL request
    <% else %>
      Edit live short URL
    <% end %>
  </h1>

  <%= render :partial => 'form' %>

