<h1 class="govuk-heading-xl">URL redirect and short URL requests</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="table-header">
      <th>Organisation</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
    <%= render @short_url_requests %>
  </tbody>
</table>
