<% breadcrumb :short_url_requests %>

<h1>URL redirect and short URL requests</h1>

<%= will_paginate @short_url_requests %>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="table-header">
      <th>Organisation</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
    <%= render @short_url_requests %>
  </tbody>
</table>
<%= will_paginate @short_url_requests %>
