<h1 class="govuk-heading-xl">URL redirect and short URL requests</h1>

<%= @short_url_requests %>
<%
  requests_rows = @short_url_requests.map do |request|

  end
%>

<%= render "govuk_publishing_components/components/table", {
  head: [
    {
      text: "Organisation"
    },
    {
      text: "From URL",
    },
    {
      text: "To URL",
    }
  ],
  rows: []
} %>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="table-header">
      <th>Organisation</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
    <%= render @short_url_requests %>
  </tbody>
</table>
