<% breadcrumb :new_short_url_request %>

<h1 class="page-title-with-border">Request a new URL redirect or short URL</h1>

<p>Please read <a href="https://www.gov.uk/guidance/contact-the-government-digital-service/request-a-thing#short-url">the guidance on redirect requests</a> before making a request.</p>

<%= render :partial => 'form' %>
