<% breadcrumb :new_short_url_request %>

<h1 class="page-title-with-border">Request a new URL redirect or short URL</h1>

<p>Please read <a href="https://guidance.publishing.service.gov.uk/accounts-support/make-content-requests/ask-short-url">the guidance on short URL requests</a> before making a request.</p>

<%= render :partial => 'form' %>
