<h1 class="page-title-with-border">Request a short URL</h1>

<p>If you are not familiar with requesting short URLs, please read <a href="https://www.gov.uk/guidance/contact-the-government-digital-service/request-a-thing#short-url">this guidance</a> first.</p>

<%= render :partial => 'form' %>
