<tr class="clickable_row">
  <td><%= link_to furl_request.organisation_title, furl_request_path(furl_request) %></td>
  <td><%= link_to furl_request.from, furl_request_path(furl_request) %></td>
  <td><%= link_to furl_request.to, furl_request_path(furl_request) %></td>
</tr>
