<h1>The redirect could not be published</h1>

<%= render_errors_for @furl_request.redirect, leading_message: "The friendly URL could not be created for the following reasons:" %>

<%= link_to "Back", furl_requests_path, class: "btn btn-default" %>
