$error-border-colour: #a94442;
$error-colour: #a94442;

.form-errors {
  border: solid 1px $error-border-colour;
  border-radius: 3px;
  color: $error-colour;
  margin-bottom: 20px;
  padding: 15px;

  p {
    font-weight: bold;
  }

  ul {
    margin-bottom: 0;
    padding-left: 18px;
  }
}
